deploy/opt/seo-agent/workflows/02-execute-publish.json
{
  "name": "SEO Execute & Publish - Generation + Validation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "cronExpression", "expression": "0 9 * * 1-6"}]
        }
      },
      "id": "daily-trigger",
      "name": "Chaque jour 9h (Lun-Sam)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "url": "http://seo-agent-api:8002/api/check-killswitch",
        "options": {}
      },
      "id": "check-ks",
      "name": "Kill-Switch Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 0]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{"value1": "={{ $json.pause_active }}", "value2": false}]
        }
      },
      "id": "if-active",
      "name": "Si actif",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [440, 0]
    },
    {
      "parameters": {
        "command": "python3 /opt/seo-agent/scripts/seo_brain.py status | python3 -c \"import sys,json; d=json.load(sys.stdin); sites=d['sites']; dow=__import__('datetime').datetime.now().weekday(); print(json.dumps(sites[dow % len(sites)]))\""
      },
      "id": "select-site",
      "name": "Selectionner site du jour",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [660, 0]
    },
    {
      "parameters": {
        "url": "http://seo-agent-api:8002/api/content/trigger",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "site_id", "value": "={{ JSON.parse($json.stdout).id }}"}
          ]
        },
        "options": {}
      },
      "id": "trigger-content",
      "name": "Generer Contenu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [880, -100]
    },
    {
      "parameters": {
        "url": "http://seo-agent-api:8002/api/research/trigger",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "site_id", "value": "={{ JSON.parse($json.stdout).id }}"}
          ]
        },
        "options": {}
      },
      "id": "trigger-research",
      "name": "Recherche Mots-Cles",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [880, 100]
    },
    {
      "parameters": {
        "url": "http://seo-agent-api:8002/api/drafts?status=approved",
        "options": {}
      },
      "id": "get-approved",
      "name": "Drafts Approuves",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {"value1": "={{ $json.drafts.length }}", "operation": "largerEqual", "value2": 1}
          ]
        }
      },
      "id": "if-approved",
      "name": "Si drafts approuves",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "command": "echo '[PUBLISH] Publication du draft approuve - {{ $now.format(\"yyyy-MM-dd HH:mm\") }}' >> /opt/seo-agent/logs/publish.log"
      },
      "id": "publish-log",
      "name": "Log Publication",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1540, -100]
    },
    {
      "parameters": {
        "command": "echo '[EXECUTE] Aucun draft approuve a publier - {{ $now.format(\"yyyy-MM-dd HH:mm\") }}' >> /opt/seo-agent/logs/publish.log"
      },
      "id": "no-publish",
      "name": "Log Rien a publier",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1540, 100]
    }
  ],
  "connections": {
    "Chaque jour 9h (Lun-Sam)": {"main": [[{"node": "Kill-Switch Check", "type": "main", "index": 0}]]},
    "Kill-Switch Check": {"main": [[{"node": "Si actif", "type": "main", "index": 0}]]},
    "Si actif": {"main": [[{"node": "Selectionner site du jour", "type": "main", "index": 0}], []]},
    "Selectionner site du jour": {"main": [[{"node": "Generer Contenu", "type": "main", "index": 0}, {"node": "Recherche Mots-Cles", "type": "main", "index": 0}]]},
    "Generer Contenu": {"main": [[{"node": "Drafts Approuves", "type": "main", "index": 0}]]},
    "Recherche Mots-Cles": {"main": [[{"node": "Drafts Approuves", "type": "main", "index": 0}]]},
    "Drafts Approuves": {"main": [[{"node": "Si drafts approuves", "type": "main", "index": 0}]]},
    "Si drafts approuves": {"main": [[{"node": "Log Publication", "type": "main", "index": 0}], [{"node": "Log Rien a publier", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": [{"name": "seo-agent"}]
}
